// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------

$primary   = #ff5500
$secondary = #e33203
$tertiary  = #000000

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037



