// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------

$primary   = #ff5500
$secondary = #43aea8
$tertiary  = #000000

$neutral   = #575757
$positive  = #21BA45
$negative  = #ff5500
$info      = #31CCEC
$warning   = #F2C037



