// app global css

$lite-organge=#FF7508
$bg-secondary=#43aea8
$text-three=#999999
$text-four=#333333
$text-five=#575757
$text-six=#6a7082
$bg-seven=#252d3a
$text-eight=#d7d7d7
$bg-nine=#e7ebee
$card-font=30px
$text-ten=#0f837c

.lite-orange
 color: $lite-organge !important 

.text-three
 color:$text-three !important    

.text-four
 color:$text-four !important  

.text-five
 color:$text-five !important 

.text-six
 color:$text-six !important 

.bg-seven
 background:$bg-seven !important

.text-eight
 color:$text-eight !important

.text-ten
 color:$text-ten !important

.bg-nine
 background:$bg-nine !important

.card-font
 font-size: $card-font !important

.bg-secondary
 background-color: $bg-secondary !important

.font-weight
 font-weight:500 !important  

.font-60
 font-size:60px !important     

.font-44
 font-size:44px !important    

.font-36
 font-size:36px !important    

.font-30
 font-size:30px !important  

.font-24
 font-size:24px !important

.font-22
 font-size:22px !important

.font-18
 font-size:18px !important

.font-16
 font-size:16px !important

.font-14
 font-size:14px !important

.font-12
 font-size:12px !important   

.q-table-title
 font-weight: 500
 font-size: 22px

.vertical-align-middle
 vertical-align: middle !important;    

.vertical-align-sub
 vertical-align: sub !important;  

.margin-left-10
 margin-left: 10px   

.margin-left-24
 margin-left: 24px  

.margin-t-20
 margin-top: 20px  

.margin-t-54
 margin-top: 54px  

.margin-t-10
 margin-top: 10px  

.height-62
 height: 62px
 line-height: 62px

.padding-40 
 padding: 0 40px;

.padding-t-b-40 
 padding: 40px 0;

.padding-b-40  
 padding-bottom: 40px;

.padding-l-20
 padding-left: 20px;

.padding-l-0
 padding-left: 0px;

.padding-20
 padding: 20px;

.padding-b-54 
 padding-bottom: 54px;

.padding-b-20 
 padding-bottom: 20px;

// color set
.bg-999
 background-color: #999999 !important

.modal-header    
 background: #43aea8
 color: #ffffff
 font-size: 22px

.modal-body
 padding 20px 24px

.modal-buttons
 padding: 20px 40px
 margin-bottom: 30px
 justify-content: space-between;

.user-agreement-container .modal-content
 width: 20%;
 min-width: 600px;
 padding-bottom: 30px

.personal-table-container tbody td
 text-align: center

.q-table-container
 background: #ffffff

.proposal-container .q-table thead
 background: #e7ebee

.border-r-6
 border-radius: 6px

.q-table-top
 background: #e7ebee

.q-table th
 color: #000000
 font-size: 16px  

.q-table tbody td
 border 1px solid #dddddd   
 text-align: center   

.cursor-pointer
 cursor: pointer;

.q-table-top
 padding: 0 24px   

.blocks-datail-table tr td:nth-child(1)
 text-align: right;

.assetDetail-card-content tr td:nth-child(1)
    height: 30px
    color:#000000
    font-size: 18px

.assetDetail-card-content tr 
    height: 30px

.blocks-padding-40
 padding 60px 0 30px 0    

.q-table th
 text-align: center    

.personal-table tbody td 
 border: none
 text-align: left 

.transfer-container .transfer-bottom-container
 padding: 0 !important

input.q-input-target   
 font-size: 12px 

.proposal-detail-container input.q-input-target 
 font-size: 16px 

.login-container textarea 
 min-height: 0px !important

.vote-right-container .q-tab-pane
 padding:  0

.home-table-container .q-table-top
 background: #ffffff

.q-field-label-inner
 color: #000000
 font-size: 18px 

.personal-icon
 width: 20px
 vertical-align:middle